.ch-layout-inner {
	display: flex;
	flex-direction: row;
	background-color: rgb(247, 219, 223);
}

.ch-colored-button {
	background-color: rgb(128, 0, 128);
	color: white; 
	font-weight: bold;
	padding: 10px 20px;
	border: none; 
	border-radius: 15px; 
	cursor: pointer; 
  }
  
  .ch-colored-button:hover {
	background-color: rgb(154, 26, 154);
  }
  
  .ch-colored-button:active {
	background-color: rgb(103, 0, 103);
  }
  